body
 { 
	/*Es usado para el jumbotron*/
   	padding-bottom: 20px;
	padding-top: 50px; 
 } 
/*
map-canvas es un estilo utilizado para desplegar una caja con un mapa
que combinado con bootstrap permite visualizar la ubicacion datos. Es responsivo.  
 */
.map-canvas{
  	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    height: 260px;
    width: 300px;
    z-index: 1;	
}

 .navbar-brand{
 	padding: 0px;
 }
 
 .display-none{
 	display: none;
 }
 
 .navbar-input
 {
 	width: 200px;
 }
 .slick-prev:before, .slick-next:before{
 	 	color: red;
 }
 .slick-prev, .slick-next{ 
  
 }
 .sidebar-nav-fixed{
 	width: 20%;
 }
 /**
  *Buttons
  *
  */
.btn-connect {
	line-height: 28px;
    display: block;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border-radius: 3px 3px 3px 3px;
    padding: 15px 15px 15px 60px;
}
.powered-by-foursquare{
	width:200px;
}
.fs-navy, .fs-navy:hover, .fs-navy:focus{
	color: #0732A2;
	text-decoration: none;
}
/*
Facebook-login
------------------------------------------------------------ */
.btn-facebook {
    background: url("../img/btn-connect-facebook.png") no-repeat scroll 0 0 #3B5998;
    color: rgb(255, 255, 255);
}
.btn-facebook:hover, .btn-facebook:focus{
	color: #fff;
	text-decoration: none;
}
 
/*
Pistache button
------------------------------------------------------------ */
.btn-pistache
 {
	color: #fff;
	background-color: #93C572;
	border-color: #93C222;
 }
 
 .btn-pistache:HOVER
 {
	color: #fff;
	background-color: #72C57A;
 }
 /*
Pink button
------------------------------------------------------------ */
.btn-pink
 {
 	border-radius: 3px;
	box-shadow: 0 1px 1px #999;
	color: #fff;
	background-color: #c93764;
	background: -moz-linear-gradient(top, #ea4c89, #c93764);
	background: -ms-linear-gradient(top, #ea4c89, #c93764);
	background: -webkit-linear-gradient(top, #ea4c89, #c93764);
	border: 1px solid #c93764;
	text-shadow: 0 -1px -1px #9d2849;
	text-align: center;
 }
 
 .btn-pink:HOVER
 {
	color: #fff;
	background-color: #ea4c89; /* fallback color */
	background: -moz-linear-gradient(top, #c93764, #ea4c89);
	background: -ms-linear-gradient(top, #c93764, #ea4c89);
	background: -webkit-linear-gradient(top, #c93764, #ea4c89);
 }
 /**
  *Maps
  */
  #map_container{
  	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    height: 260px;
    position: relative;
    width: 300px;
    z-index: 1;
}
   
  /**
   *Forms
   */
section#signup, section#signin {
    font-size: 13px;
    margin: 40px auto;
    width: 460px;
}
/**
 *Message
 */
 .error-label{
 	color: #d14;
 }
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/**
 * ui autocomplete 
 */
.ui-front { z-index: 2000 !important; }

/**
 *Panels
 */
 .panel-platano > .panel-heading {
    background-color: #F0E68C;
    border-color: #FFFF00; 
    color: #FF6347;
}
 .panel-platano{
 	 border-color: #FFFF00;
 }
 .text-overflow{
 	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
 }
/**
 * Events
 */
 .events-container{
 	padding:0px 25px 0px 25px
 }
 .event-box{
 	min-height: 300px;
 }
 
 /**
  *well
  */
 .top-well{
 	margin-top:20px;
 }
 .inline-block{
 	display: inline-block;
 }
 
/**
 *labels
 */ 
 .label-salmon{
 	background-color: #FA8072;
 }
 .label-sandy{
 	background-color: #F4A460;
 }
 .label-thistle{
 	background-color: #D8BFD8;
 }
.label-olive{
	background-color: #808000;
}
.label-violet{
	background-color: #DB7093;
}
.label-gold{
	background-color: #FFD700;
} 
.label-brown{
	background-color: #A52A2A;
}
.label-coral{
	background-color: #FF7F50;
}  
 